---
apiVersion: v1
kind: Secret
metadata:
  name: awm-encryption-key
  namespace: {{ AWM_NAMESPACE }}
data:
  key: {{ AWM_KEY | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cacao-ssh-key
  namespace: {{ ARGO_NAMESPACE }}
data:
  private_key: {{ ISESSION_MASTER_SSH_KEY | b64encode }}
