apiVersion: v1
kind: ConfigMap
metadata:
  name: argo-workflow-mediator-configmap
  namespace: {{ AWM_NAMESPACE }}
data:
  awm-config.yaml: |
    provider:
      api_host: argo-server.argo.svc
      api_port: 2746
      cert_auth_data: {{ cert_auth_data_out.stdout }}
      k8s_api_url: https://kubernetes.default.svc
      namespace: {{ ARGO_NAMESPACE }}
      service_account: {{ AWM_ARGO_SVC_ACCOUNT }}
      ssl: true
      ssl_verify: false
      token: "{{ awm_argo_token.stdout }}"
    tf_backend:
      tf_backend_type: {{ AWM.tf_backend_type | default("http") }}
{% if AWM.tf_backend_type is undefined or AWM.tf_backend_type == "http" %}
      http_base_url: {{ AWM.tf_backend_http_base_url }}
      http_jwt_secret_key: {{ TF_HTTP_BACKEND_JWT_SECRET }}
{% endif %}
{% if AWM.tf_backend_type is defined and AWM.tf_backend_type == "pg" %}
      pg_host: postgres.awm.svc
      pg_port: 5432
      admin_password: {{ AWM_POSTGRES_PASSWORD }}
      admin_user: {{ AWM_POSTGRES_USER }}
      tf_schema_postfix: _tf_state
      tf_state_db: terraform_state_database
      tf_workspace_postfix: _template
      user_creden_db: {{ AWM_POSTGRES_DB }}
      user_creden_table: user_credential_table
{% endif %}
    workflow_base_dir: /opt/argo-wf-def
  nats.url: {{ NATS_ADDRESS_INTERNAL if NATS_ADDRESS_INTERNAL is defined else NATS_ADDRESS }}
