apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ WF_LOGS_STORAGE_SHARED_STORAGE_PVC_NAME }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ WF_LOGS_MANILA_SHARE_SIZE }}Gi
  volumeName: {{ WF_LOGS_STORAGE_SHARED_STORAGE_PV_NAME }} # must match PV name above
  storageClassName: ""
