apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ WF_LOGS_STORAGE_SHARED_STORAGE_PV_NAME }}
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: {{ WF_LOGS_MANILA_SHARE_SIZE }}Gi
  csi:
    driver: cephfs.csi.ceph.com

    # Unique identifier of the volume.
    # Can be anything, but we recommend to set it to the PersistentVolume name.
    volumeHandle: {{ WF_LOGS_STORAGE_SHARED_STORAGE_PV_NAME }}

    # Secret name and namespace in both nodeStageSecretRef
    # and nodePublishSecretRef must match the Secret created above.
    nodeStageSecretRef:
      name: {{ WF_LOGS_MANILA_CSI_CEPHFS_SECRET_NAME }}
      namespace: ceph-csi-cephfs
    nodePublishSecretRef:
      name: {{ WF_LOGS_MANILA_CSI_CEPHFS_SECRET_NAME }}
      namespace: ceph-csi-cephfs

    volumeAttributes:
      # The volume attributes below are passed to the cephfs-csi driver.
      # For complete list of available volume parameters please see
      # https://github.com/ceph/ceph-csi/blob/devel/docs/deploy-cephfs.md

      monitors: {{ WF_LOGS_STORAGE_MANILA_CEPH_MONITORS }}
      rootPath: {{ WF_LOGS_STORAGE_MANILA_CEPH_ROOT_PATH }}
      provisionVolume: "false"
