#
# deploy a container of minio for development or testing.
# create a k8s Job that will initialize minio (create bucket, create access key).
#
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    service: minio
  name: minio
spec:
  serviceName: minio
  replicas: 1
  selector:
    matchLabels:
      service: minio
  template:
    metadata:
      labels:
        cacao.cyverse.org/app: cacao
        service: minio
    spec:
      containers:
        - name: minio
          image: quay.io/minio/minio:latest
          command:
            - /bin/bash
            - -c
          args:
            - minio server /data --console-address :9090
          envFrom:
            - secretRef:
                name: minio-secrets
          volumeMounts:
            - mountPath: /data
              name: data-vol
          ports:
            - containerPort: 9000
              name: http
            - containerPort: 9090
              name: console
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: data-vol
          persistentVolumeClaim:
            claimName: minio-local-path-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: minio
  labels:
    service: minio
spec:
  selector:
    service: minio
  ports:
    - name: http
      port: 9000
---
apiVersion: batch/v1
kind: Job
metadata:
  name: setup-minio
spec:
  template:
    spec:
      containers:
        - name: setup
          image: quay.io/minio/mc:latest
          command:
            - /bin/bash
          args:
            - /scripts/minio.sh
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SERVICE_NAME
              value: minio
          envFrom:
            - secretRef:
                name: minio-secrets
            - secretRef:
                name: minio-cred
          volumeMounts:
            - mountPath: /scripts
              name: setup-script
      restartPolicy: OnFailure # restart if failed (e.g. due to port not opened yet
      volumes:
        - name: setup-script
          configMap:
            name: minio-setup-script
  backoffLimit: 4
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-secrets
stringData:
  MINIO_ROOT_USER: "{{ WF_LOGS_STORAGE_MINIO_ROOT_USER }}"
  MINIO_ROOT_PASSWORD: "{{ WF_LOGS_STORAGE_MINIO_ROOT_PASSWORD }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-cred
stringData:
  MINIO_BUCKET_NAME: "{{ WF_LOGS_STORAGE_S3_BUCKET }}"
  MINIO_ACCESS_KEY: "{{ WF_LOGS_STORAGE_S3_ACCESS_KEY }}"
  MINIO_SECRET_KEY: "{{ WF_LOGS_STORAGE_S3_SECRET_KEY }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-setup-script
data:
  # quay.io/minio/mc has curl installed
  #
  # - check connection is open
  # - login
  # - create a new access key
  # - create bucket
  minio.sh: |
    #!/bin/bash
    export MINIO_HOSTNAME=${SERVICE_NAME}.${NAMESPACE}.svc
    echo "start setting up minio at ${MINIO_HOSTNAME}:9000"
    mc alias set local http://${MINIO_HOSTNAME}:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD}
    mc admin info local
    mc admin user svcacct add local ${MINIO_ROOT_USER} \
      --access-key "${MINIO_ACCESS_KEY}"          \
      --secret-key "${MINIO_SECRET_KEY}" 1> /dev/null
    mc mb local/${MINIO_BUCKET_NAME}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-local-path-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: {{ WF_LOGS_STORAGE_MINIO_LOCAL_VOLUME_CAPACITY }}Gi
