---
apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-logs-storage-config
data:
  NATS_URL: "nats://nats.default.svc:4222"
  NATS_WILDCARD_SUBJECT: ""
  NATS_CLUSTER_ID: "cacao-cluster"
  ARGO_URL: "argo-server.{{ ARGO_NAMESPACE }}.svc:2746"
  ARGO_HTTPS: "true"
  ARGO_NAMESPACE: "{{ ARGO_NAMESPACE }}"
  SWIFT_REGION: ""
  SWIFT_CONTAINER_NAME: ""
{% if IRODS_BASE_PATH is defined %}
  IRODS_BASE_PATH: "{{ IRODS_BASE_PATH }}"
{% endif %}
{% if WF_LOGS_STORAGE_S3_ACCESS_KEY %}
  S3_ENDPOINT: "{{ WF_LOGS_STORAGE_S3_ENDPOINT }}"
  S3_REGION: "{{ WF_LOGS_STORAGE_S3_REGION }}"
  S3_BUCKET: "{{ WF_LOGS_STORAGE_S3_BUCKET }}"
  S3_JS2_SWIFT: "false"
{% endif %}
{% if WF_LOGS_STORAGE_FILE_BASE_PATH %}
  FILE_BASE_PATH: "{{ WF_LOGS_STORAGE_FILE_BASE_PATH }}"
{% endif %}
---
apiVersion: v1
kind: Secret
metadata:
  name: workflow-logs-storage-config
stringData:
  SWIFT_APP_CRED_ID: ""
  SWIFT_APP_CRED_SECRET: ""
{% if IRODS_BASE_PATH is defined %}
  IRODS_USERNAME: "{{ IRODS_USERNAME }}"
  IRODS_PASSWORD: "{{ IRODS_PASSWORD }}"
{% endif %}
{% if WF_LOGS_STORAGE_S3_ACCESS_KEY %}
  S3_ACCESS_KEY_ID: "{{ WF_LOGS_STORAGE_S3_ACCESS_KEY }}"
  S3_SECRET_KEY_ID: "{{ WF_LOGS_STORAGE_S3_SECRET_KEY }}"
{% endif %}
  JWT_KEY: "{{ WF_LOGS_STORAGE_JWT_KEY }}"
